@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
 html{
  overflow-x: hidden;
 scroll-behavior: smooth;
 transition: all;
 transition-duration: 300ms;
 transition-timing-function: ease-in;

 }
 .default-animation{
  @apply duration-300 ease-in-out  transition-all
 }
 .search-div-wrapper{
  transform: translateY(-100%);
 }
  .navbar-wrapper:after{
  @apply bg-black  content-[''] w-full -z-50   md:after:min-h-[8vh]  transition-all fixed  duration-500 ease-in-out after:h-[9rem] };
  
  .footer-social-links{
    @apply cursor-pointer hover:text-blue-500 hover:scale-105  
  }
  .footer-social-links-wrapper{
    @apply flex  justify-center items-center md:w-full md:text-5xl text-2xl duration-500 transition-all ease-in-out md:border-r-black md:border-r-[1px]
  }
  .icon-text{
    -webkit-text-stroke: 1px black;
    text-shadow: gold 2px 2px;
    font-family: fantasy;
  }
  .stop-scroll{
    overflow: hidden !important;
  }

  .imgContainer{      
      mask-image:-webkit-gradient(linear, left top, left bottom, 
    from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));;
      -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, 
    from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
} 
};
